* {
    box-sizing: border-box;
}


.paidocar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: rgb(228, 241, 33);
    border: 2px black solid;
    gap: 10px;

}

.btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: red;


}
